___
# MINIPROJETO 1

## <font color='red'>COLOQUE AQUI SEU NOME</font>
___

## <font color='blue'>Quantidade de co2 produzido pelo mundo por capita</font>

___
### Itens 1 a 3 - Resolução:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from scipy import stats

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Paulo\Documents\GitHub\CD\Mini projeto 1

In [2]:
dados = pd.read_excel("WDI-word.xlsx")

In [7]:
co2_mtp = pd.DataFrame(dados.iloc[204,4:55])
co2_mtp = co2_mtp.transpose()


co2_mtp

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
204,3.06698,3.13795,3.2423,3.35864,3.43754,3.53649,3.57536,3.68184,3.82201,4.01325,...,4.08618,4.27357,4.43659,4.54634,4.65025,4.68658,4.74225,4.66352,4.84083,4.94505

In [15]:
#faixa =  np.arange(3,5,0.2)

#plot = co2_mtp.plot.hist(bins=faixa,color = "blue",label = 'mas',alpha=0.5)

___
### Itens 4 a 6 - Resolução:

Claramente é um caso de assimetria negativa

___
### Itens 7 a 9 - Resolução:

___
### Itens 10 e 11 - Resolução: